.form-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.btn-add {
	border: none;
	background-color: #2e8754;
	color: #fff;
	padding: 5px 40px;
	border-radius: 20px;
	font-family: inherit;
	cursor: pointer;
	font-size: 17px;
}

.btn-add:hover {
	background-color:#62ce91;
}

@media (min-width: 576px) {
    .form-container {
        flex-direction: row;
        justify-content: space-between;
    }

    .form-label {
        width: auto;
    }
}



/* Estilos específicos para pantallas pequeñas (menos de 576px) */
@media (max-width: 575.98px) {
    .form-control {
        padding: 8px 15px; 
        font-size: 14px;
    }

    .btn-add {
        padding: 5px 15px; 
        font-size: 14px; 
    }
}